body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}


header {
    background-color: #1a1a1a;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffcc33;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff66cc;
}

h1, h2 {
    color: #ff66cc;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0.5em;
}